.timeline-container {
  display: flex;
  margin-top: 16px;
  border: 1px solid rgba(230, 235, 240, 1);
  overflow-x: auto;
  position: relative;
  margin-left: 101px;
  margin-right: 101px;
  min-height: calc(100vh - 180px);
}
